[Unit]
Description=starting julius
ConditionPathExists=/opt/bezelie/bin

[Service]
ExecStart=/opt/bezelie/bin/boot_julius.sh
Type=forking
Restart=no
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
