[Unit]
Description=starting python
After=autoStart_julius.service
ConditionPathExists=/opt/bezelie/bin

[Service]
ExecStart=/opt/bezelie/bin/boot_python.sh
Type=simple
Restart=no
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
