<!-- editServo -->

<script>
</script>
<%
var alarmOn0 = '', alarmOn1 = '', alarmKind0 = '', alarmKind1 = ''
%>

<p><%=message%></p>
<hr>
<center>
<form method="post" action="/setServo" id="form">
<table border="1">

    <tr align="center">
        <td>頭の上下</td><td align="right"><input type="number" size="16" name="head" style="font-size:16px; text-align:right" min="-20" max="20" step="1" 
        value=<%= obj_config.data2[0].head %>></td>
    </tr>
    <tr align="center">
        <td>頭の左右</td><td align="right"><input type="number" size="16" name="back" style="font-size:16px; text-align:right" min="-20" max="20" step="1" 
        value=<%= obj_config.data2[0].back %>></td>
    </tr>
    <tr align="center">
        <td>体の左右</td><td align="right"><input type="number" size="16" name="stage" style="font-size:16px; text-align:right" min="-20" max="20" step="1" 
        value=<%= obj_config.data2[0].stage %>></td>
    </tr>
    <tr align="center">
        <td colspan="2"><input type="submit" value="設定を更新する" style="font-size:16px;"></td>
    </tr>


</table>
</form>
<p><a href="/">トップページに戻る</a></p>
</center>
<script>
document.getElementById('form').onsubmit = function(){
}
</script>
