<p><%=message%></p>
<ul>
<p><a href="/editIntent">データ１：質問内容（ユーザーからの質問内容）</a></p>
<p><a href="/selectIntent4entity">データ２：言い回し（いろいろな質問の言い回し）</a></p>
<p><a href="/selectIntent4dialog">データ３：返答候補（べゼリーからの返答の候補）</a></p>
</ul>
<br>
<p><a href="/">トップページに戻る</a></p>
<script>
</script>
