<!-- サーボ調整の実行 -->
<p><%=message%></p>
<br>
<hr>
<p>頭の上下 <%= obj_config.data2[0].head %></p>
<p>頭の左右 <%= obj_config.data2[0].back %></p>
<p>体の左右 <%= obj_config.data2[0].stage %></p>
<hr>
<br>
<p><a href="/">トップページに戻る</a></p>
