<!-- トップページ -->

<p><%= message %></p>

<hr>
<H3>基本機能</H3>
<ul>
<li><a href="/editChat">対話データの編集</a>
<ul><p>質問と返答の組み合わせを編集します</p></ul></li>
<li><a href="/editBasic">基本設定</a>
<ul><p>ユーザーネームや音量などを設定します</p></ul></li>
<li><a href="/editTime">時間設定</a>
<ul><p>アラームや活動時間を設定します</p></ul></li>
<li><a href="/editServo">サーボの調整</a>
<ul><p>サーボの初期位置を調整します</p></ul></li>
<li><a href="/starting_pythonApp">プログラム再起動</a>
<ul><p>編集した対話データを反映するためにはプログラムの再起動が必要です</p></ul></li>
<li><a href="/chatMode">音声認識モードで再起動</a>
<ul><p>音声で対話するモードでシステムを再起動します</p></ul></li>
<li><a href="/faceMode">顔認識モードで再起動</a>
<ul><p>カメラで顔認識するモードでシステムを再起動します</p></ul></li>

</ul>
<H3>中級者向け機能</H3>
<ul>
<li><a href="/disableServer">プログラムを停止し、ラズパイのアクセスポイント化を解除してシステムを再起動</a>
<ul><p>ブラウザからのアクセスはできなくなります。元の状態に戻すにはLinuxの基礎知識が必要です</p></ul></li>
</ul>
<script>
</script>
